@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://use.typekit.net/opa5euc.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    max-width: 100%;
    /* overflow-x: hidden; */
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

:root {
    --brand-primary: 36deg 100%;
    --brand-secondary: 253deg 61%;
    --twenty: 20%;
    --tint-50: 50%;
    --fifty-alpha: 50%;
    --tint-80: 80%;
    --tint-95: 95%;
    --primary: hsl(var(--brand-primary) 40%);
    --secondary: hsl(var(--brand-secondary) 33%);
    --secondary-tint-95: hsl(var(--brand-secondary) var(--tint-95));
    --secondary-tint-80: hsl(var(--brand-secondary) var(--tint-80));
    --primary-tint-95: hsl(var(--brand-primary) var(--tint-95));
    --primary-tint-50: hsl(var(--brand-primary) var(--tint-50));
    --primary-tint-80: hsl(var(--brand-primary) var(--tint-80));
    --primary-shade-20: hsl(var(--brand-primary) var(--twenty));
    --primary-shade-20-alpha: hsl( var(--brand-primary) var(--twenty) / --fifty-alpha);
}

body {
    box-sizing: border-box;
    display: grid;
    place-items: center center;
    height: 100vh
}